body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

label, select, input, select {
    margin: 5px;
}

.result {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
